<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Paralel suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="61bda8">  <td>15/12/23 13:15:33</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">testMethod3</td> 
  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:33</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">testMethod1</td> 
  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>232</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:33</td>   <td>235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@c42916]">testMethod1</td> 
  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="61bda8">  <td>15/12/23 13:15:33</td>   <td>259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">testMethod1</td> 
  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:33</td>   <td>351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">testMethod2</td> 
  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="61bda8">  <td>15/12/23 13:15:33</td>   <td>367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">testMethod2</td> 
  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>514</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:34</td>   <td>831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass2@c42916]">testMethod2</td> 
  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>1052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:34</td>   <td>1053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">testMethod3</td> 
  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>1053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>1162</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>1164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:34</td>   <td>1164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@c42916]">testMethod3</td> 
  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>1166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>1273</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>1428</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td>12855574 30639342 </td> </tr>
</table>
