<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Null and empty group</td><td>FilePathTests.checkEmptyFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]<br/>FilePathTests.checkNullFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]<br/></td></tr>
</table>
