<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>WordList</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6b8daa">  <td>15/12/23 13:29:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FileNameMaskTest.checkFileNameMask()[pri:0, instance:FileNameMaskTest@16b4a017]">checkFileNameMask</td> 
  <td>main@401424608</td>   <td>380936215 142638629 707806938 </td> </tr>
<tr bgcolor="6b8daa">  <td>15/12/23 13:29:44</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FileNameMaskTest.checkFileNameMask()[pri:0, instance:FileNameMaskTest@2a3046da]">checkFileNameMask</td> 
  <td>main@401424608</td>   <td>380936215 142638629 707806938 </td> </tr>
<tr bgcolor="6b8daa">  <td>15/12/23 13:29:44</td>   <td>107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FileNameMaskTest.checkFileNameMask()[pri:0, instance:FileNameMaskTest@8807e25]">checkFileNameMask</td> 
  <td>main@401424608</td>   <td>380936215 142638629 707806938 </td> </tr>
<tr bgcolor="bd81bb">  <td>15/12/23 13:29:44</td>   <td>-41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.createTestDate()[pri:0, instance:FileNameMaskTest@2a3046da]">&gt;&gt;createTestDate</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@401424608</td>   <td>380936215 142638629 707806938 </td> </tr>
<tr bgcolor="aaf88c">  <td>15/12/23 13:29:44</td>   <td>124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WordListTests.emptyDirectoryPathTest()[pri:0, instance:WordListTests@4fccd51b]">emptyDirectoryPathTest</td> 
  <td>main@401424608</td>   <td></td> </tr>
<tr bgcolor="aaf88c">  <td>15/12/23 13:29:44</td>   <td>126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WordListTests.emptyNamePatternTest()[pri:0, instance:WordListTests@4fccd51b]">emptyNamePatternTest</td> 
  <td>main@401424608</td>   <td></td> </tr>
<tr bgcolor="bd81bb">  <td>15/12/23 13:29:44</td>   <td>-85</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:FileNameMaskTest@2a3046da]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@401424608</td>   <td>380936215 142638629 707806938 </td> </tr>
<tr bgcolor="bd81bb">  <td>15/12/23 13:29:44</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:FileNameMaskTest@2a3046da]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@401424608</td>   <td>380936215 142638629 707806938 </td> </tr>
<tr bgcolor="bd81bb">  <td>15/12/23 13:29:44</td>   <td>97</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:FileNameMaskTest@2a3046da]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@401424608</td>   <td>380936215 142638629 707806938 </td> </tr>
<tr bgcolor="bd81bb">  <td>15/12/23 13:29:44</td>   <td>124</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:WordListTests@4fccd51b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@401424608</td>   <td></td> </tr>
<tr bgcolor="aaf88c">  <td>15/12/23 13:29:44</td>   <td>127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WordListTests.trueNumberWord()[pri:0, instance:WordListTests@4fccd51b]">trueNumberWord</td> 
  <td>main@401424608</td>   <td></td> </tr>
</table>
