<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>1</td><td>TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@179caec]<br/>TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@f7fe8e]<br/>TestClass1.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass1@18e2867]<br/>TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@179caec]<br/>TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@f7fe8e]<br/>TestClass1.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass1@18e2867]<br/></td></tr>
</table>
