<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Checking file's entry</td><td>FileReaderTests.checkFillFile()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1666453a]<br/>FileReaderTests.checkEmptyFile()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1666453a]<br/></td></tr>
<tr><td>Null and empty group</td><td>FilePathTests.checkEmptyFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@2b9c1dc4]<br/>FilePathTests.checkNullFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@2b9c1dc4]<br/></td></tr>
</table>
