<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Classes</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterClass()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@2b9c1dc4]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterClass()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:25</td>   <td>1068</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterClass()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1666453a]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>68</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterGroups()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">&lt;&lt;afterGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@2b9c1dc4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@2b9c1dc4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@2b9c1dc4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1666453a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>68</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1666453a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:25</td>   <td>1108</td> <td title="&lt;&lt;BaseWordListTests.afterSuit()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-46</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeClass()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-43</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeClass()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@2b9c1dc4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeClass()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1666453a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeGroups()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">&gt;&gt;beforeGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@2b9c1dc4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@2b9c1dc4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@2b9c1dc4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1666453a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1666453a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-46</td> <td title="&gt;&gt;BaseWordListTests.beforeSuit()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="75b192">  <td>15/12/17 23:16:24</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DirectoryPathTests.checkEmptyBaseDirectory()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">checkEmptyBaseDirectory</td> 
  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="7c929d">  <td>15/12/17 23:16:24</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FileReaderTests.checkEmptyFile()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1666453a]">checkEmptyFile</td> 
  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="989c73">  <td>15/12/17 23:16:24</td>   <td>-42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilePathTests.checkEmptyFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@2b9c1dc4]">checkEmptyFilePath</td> 
  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="7c929d">  <td>15/12/17 23:16:24</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FileReaderTests.checkFillFile()[pri:0, instance:com.gomel.tat.home5.tests.FileReaderTests@1666453a]">checkFillFile</td> 
  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="75b192">  <td>15/12/17 23:16:24</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DirectoryPathTests.checkNullBaseDirectory()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">checkNullBaseDirectory</td> 
  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="989c73">  <td>15/12/17 23:16:24</td>   <td>-27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilePathTests.checkNullFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@2b9c1dc4]">checkNullFilePath</td> 
  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="75b192">  <td>15/12/17 23:16:24</td>   <td>-44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DirectoryPathTests.checkWrongBaseDirectory()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@4d9bbd1a]">checkWrongBaseDirectory</td> 
  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="989c73">  <td>15/12/17 23:16:24</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilePathTests.checkWrongFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@2b9c1dc4]">checkWrongFilePath</td> 
  <td>main@1002790985</td>   <td></td> </tr>
</table>
