<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>testWithData</td><td>WordListTests.trueNumberWord()[pri:0, instance:WordListTests@3ada9e37]<br/></td></tr>
</table>
